:root {
    --background: #292929;
    --button-background: #232323;
    --main-color: #F9F6EE;
    --marker-color: #090909;
    --border-color: #191919;
}
* {
    margin: 0;
    padding: 0;
}
html {
    background-color: var(--background);
    color: var(--main-color);

    height: 100%;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
body {
    height: 100%;
    display: grid;
}


.main-container {
    display: grid;
    place-self: center;

    grid-template: 25px 75px 500px 1fr / 250px 250px;  
}
.main-container .title {
    grid-column: 1 / -1;

    display: grid;
    place-items: center;
}
.main-container .score-container {
    grid-column: 1 / -1;

    display: grid;
    grid-auto-flow: column;
    place-items: center;
    
    font-weight: bold;
}
.main-container .score-container .score-p1,
.main-container .score-container .score-p2 {
    color: rgb(87, 87, 87);
}
.main-container .ttt-container {
    grid-column: 1 / -1;

    display: grid;
    grid-template: 1fr 1fr 1fr / 1fr 1fr 1fr ;
    border: 4px solid var(--border-color); 
    gap: 10px;
    padding: 5px;
}
.main-container .ttt-container .ttt-cell {
    border: 4px solid var(--border-color); 
    cursor: pointer;

    position: relative;
}

/* Tic Tac Toe CROSS */
.main-container .ttt-container .ttt-cell .cross::before,
.main-container .ttt-container .ttt-cell .cross::after {
    position: absolute;
    margin: auto;
    inset: 0;

    text-align: center;
    content:' ';
    height: 140px;
    width: 10px;
    transition: 1s;
    border: 5px solid black;
    background-color: var(--marker-color);
    border-radius: 10px;
}
.main-container .ttt-container .ttt-cell .cross::after {
    transform: rotate(-45deg);
}
.main-container .ttt-container .ttt-cell .cross::before {
    transform: rotate(45deg);
}
.main-container .ttt-container .ttt-cell:hover .cross::before,
.main-container .ttt-container .ttt-cell:hover .cross::after {
    scale: 1.05;
    transition: 150ms;
}
.main-container .ttt-container .ttt-cell:active .cross::before,
.main-container .ttt-container .ttt-cell:active .cross::after {
    scale: 1;
    transition: 100ms;   
}



/* Tic Tac Toe CIRCLE */
.main-container .ttt-container .ttt-cell .circle{
    position: absolute;
    margin: auto;
    inset: 0;

    transition: 0.8s;
    border: 12px solid var(--marker-color);
    border-radius: 100%;
    height: 105px;
    width: 105px;
}
.main-container .ttt-container .ttt-cell:hover .circle{
    scale: 1.05;
    transition: 150ms;
}
.main-container .ttt-container .ttt-cell:active .circle{
    scale: 1;
    transition: 100ms;
}

.main-container .buttons { 
    grid-column: 1 / -1;
    padding: 20px;
    display: grid;
    grid-auto-flow: column;
    place-items: center;
}
.main-container .buttons button {
    padding: 5px;

    color: var(--main-color);
    background-color: var(--button-background);
    border:2px solid #191919;
    border-radius: 3px;

    user-select: none;

    cursor: pointer;
}
.main-container .buttons button:hover {
    background-color: var(--background);

}
.main-container .buttons button:active {
    background-color: #303030;
}

dialog[open] {
    margin: auto;
    padding: 30px;
    font-weight: bold;


    background-color: #111111;
    border-radius: 5px;
    border: 3px solid;
}
dialog[open]:focus-visible {
    outline: none;
}
dialog[open]::backdrop {
    background-color: rgba(0, 0, 0, 0.397);
}